    <!-- About Start -->
    <div class="container-fluid py-5" id="about">
      <div class="container py-5">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <img
              class="img-fluid mb-4 mb-lg-0"
              src="img/about-us.jpeg"
              alt=""
            />
          </div>
          <div class="col-lg-7">
            <h6
              class="text-uppercase text-primary mb-3"
              style="letter-spacing: 3px"
            >
              About Us
            </h6>
            <h1 class="display-4 mb-3">
              <span class="text-primary">9+ Years' Experience</span> In Solar
              Power Industry
            </h1>
            <p class="para-p">
              United Elite Smart Energy (PVT.) LTD. (UESE) specializes in the manufacturing, modification, maintenance & Installation of Solar System, CCTV Setup, Data Communication and Networking.  UESE takes pride to have a dedicated team of professionals, with a vast industry experience in the Solar Installation, CCTV Installation and Network Engineering. The UESE customer-oriented culture motivates our employees to do their best for our customers, and has eventually earned UESE, the acknowledgment appreciation, and above all the satisfaction of our valued customers. UESE holds an excellent design department, staffed with the qualified Engineers cooperating in excellent technical environment and highly skilled technicians. Our state-of-the-art manufacturing unit has resulted in the production of flawless products with complete guarantee and reliability.
            </p>
            <a
              class="btn btn-primary font-weight-bold py-3 px-5 mt-2"
              type="button"
              data-toggle="modal"
              data-target="#exampleModalLong"
              
              >Read More</a
            >
            <a class="btn btn-primary font-weight-bold py-3 px-5 mt-2" type="button" href="assets/USES_compressed.pdf" >Download PDF</a>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->
