    <!-- Service Start -->
    <div class="container-fluid py-5" id="service">
      <div class="container py-5">
        <div class="section-title position-relative text-center">
          <h6
            class="text-uppercase text-primary mb-3"
            style="letter-spacing: 3px"
          >
            Services
          </h6>
          <h1 class="font-secondary display-4">What We Cover</h1>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-3">
            <div class="product-item mb-2">
              <div class="product-img">
                <img class="img-fluid" src="img/product-3.jpg" alt="" />
                <!-- <a
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModalLong"
                > -->
                  <i class="fa fa-2x fa-plus text-white"></i>
                </a>
              </div>
              <div class="bg-secondary text-center p-4">
                <h3 class="m-0">Commercial Solar Solutions</h3>
                <p style="margin-top: 10px; text-align: justify; hyphens: auto;">Commercial solar solutions refer to the use of solar energy systems for businesses and commercial establishments. These solutions typically involve the installation of solar
                  panels on rooftops, parking structures, or open land to harness the sun's energy and
                  convert it into electricity. The generated solar power can be used to meet a portion or
                  all of a company's electricity needs, reducing reliance on traditional fossil fuels and
                  lowering energy costs in the long run.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="product-item mb-2">
              <div class="product-img">
                <img class="img-fluid" src="img/product-1.jpg" alt="" />
                <!-- <a
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModalLong"
                > -->
                  <i class="fa fa-2x fa-plus text-white"></i>
                </a>
              </div>
              <div class="bg-secondary text-center p-4">
                <h3 class="m-0">Residential Solar Solutions</h3>
                <p style="margin-top: 10px; text-align: justify; hyphens: auto;">Residential solar solutions refer to the use of solar energy systems to power homes and
                  residential buildings. These systems harness the sun's energy through photovoltaic (PV) panels
                  or solar thermal collectors and convert it into electricity or heat for various household purposes.
                  The adoption of residential solar solutions has been growing rapidly in recent years due to
                  increasing awareness of environmental issues and the desire to reduce dependency on fossil
                  fuels.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="product-item mb-2">
              <div class="product-img">
                <img class="img-fluid" src="img/products-agriculture.jpg" alt="" />
                <!-- <a
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  data-target="#exampleModalLong"
                > -->
                  <i class="fa fa-2x fa-plus text-white"></i>
                </a>
              </div>
              <div class="bg-secondary text-center p-4">
                <h3 class="m-0">Agricultural Solar Solutions</h3>
                <p style="margin-top: 10px; text-align: justify; hyphens: auto;">Agricultural solar solutions refer to the use of solar energy technologies in the agricultural
                  sector. Solar energy is harnessed from the sun's rays and converted into electricity or thermal
                  energy that can power various agricultural operations and processes. This approach offers
                  numerous benefits to farmers and the agricultural industry as a whole, including cost savings,
                  environmental sustainability, and energy independence.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->
